<div class="row">
    <div class="col-6">
        <app-dona [labels]="labelEspecialidades"
                  [data]="dataEspecialidades"
                  title="Especialistas">
        </app-dona>
    </div>
    <div class="col-6">
        <!-- <app-dona title="Especialistas"></app-dona> -->
    </div>
</div>

<!-- <div class="row">
    <div class="col-6">
        <app-dona title="Cambios"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Compras2"></app-dona>
    </div>
</div> -->